// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

// Responsive breakpoints
$bp-largest: 75em; // 1200px
$bp-large: 56.25em; // 900px
$bp-medium: 44em; // 700px
$bp-small: 30em; // ~450px

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; // 1rem = 10px;

	@media only screen and (max-width: $bp-largest) {
		font-size: 55%; // 1rem = 8.8px;
	}
}

body {
	font-family: $font-primary;
	color: $color-grey-dark-2;
	font-weight: 300;
	line-height: 1.6;
}

.container {
	display: grid;
	// min-content or auto == will fit content for rows
	grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
	// 8rem for sidebar
	// 8 other columns with max width of 14rem, but never lower than min-content
	// 1fr on each side of the content to center it on the page with a min of 6rem
	grid-template-columns:
		[sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(
			8,
			[col-start] minmax(min-content, 14rem) [col-end]
		)
		[center-end] minmax(6rem, 1fr) [full-end];

	@media only screen and (max-width: $bp-large) {
		// put the sidebar bar up top at 900px ==> remove first column and add a new row(the first)
		grid-template-rows: [sidebar-start] 6rem [sidebar-end ] 80vh min-content 40vw repeat(
				3,
				min-content
			);

		grid-template-columns:
			[full-start] minmax(6rem, 1fr) [center-start] repeat(
				8,
				[col-start] minmax(min-content, 14rem) [col-end]
			)
			[center-end] minmax(6rem, 1fr) [full-end];
	}

	@media only screen and (max-width: $bp-medium) {
		//at 700px ==> realtors goes under header + story content under story pics
		// 2 more rows, columns stay the same
		// header occupies 100vh - 6rem of header // realtors min-content //
		grid-template-rows: [sidebar-start] 6rem [sidebar-end ] calc(100vh - 6rem); // the rest of the page will be size to min-content == auto
	}
}
