.realtors {
	transition: all 0.5s;
	padding: 3rem;
	background-color: $color-secondary;
	grid-column: col-start 7 / full-end;

	@media only screen and (max-width: $bp-medium) {
		// occupies 100vw
		grid-column: 1/-1;
	}

	display: grid;
	align-content: center;
	justify-content: center;
	gap: 3vh;
	justify-items: center; // center realtor title

	&__list {
		display: grid;
		grid-template-columns: min-content max-content;
		gap: 5vh 2rem;
		align-items: center;

		@media only screen and (max-width: $bp-medium) {
			gap: 4rem;
		}
	}
	&__img {
		width: 7rem;
		border-radius: 50%;
		display: block;
	}
	&__sold {
		text-transform: uppercase;
		color: $color-grey-light-2;
		margin-top: -3px;
		font-size: 1.2rem;
	}
}
