.sidebar {
	background-color: $color-primary;
	grid-column: sidebar-start / sidebar-end;
	grid-row: 1 / -1;

	display: flex;
	justify-content: center; // to center the menu button

	@media only screen and (max-width: $bp-large) {
		grid-column: 1 / -1;
		grid-row: sidebar-start / sidebar-end;
		justify-content: start; // to center the menu button
	}
}

.nav-btn {
	border: none;
	border-radius: 0;
	margin: 4rem 0 0 0; // just a margin on the top

	@media only screen and (max-width: $bp-large) {
		margin: 2.8rem 0 0 3rem; // just a margin on the top
	}

	width: 4rem;
	height: 2px;
	background-color: #fff;

	&::before,
	&::after {
		content: "";
		display: block;
		width: 4rem;
		height: 2px;
		background-color: #fff;
	}

	&::before {
		transform: translateY(-1.5rem);
	}

	&::after {
		transform: translateY(1.3rem);
	}
}
